example-02/flows.json
[{"id":"f397ce64f75f5629","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d5619656af46dda7","type":"ui_group","name":"Grupo #1","tab":"8624a7228b97d7d6","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e0ccd4cb05501031","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#241f31","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":true},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fcb588b4d1585332","type":"mqtt-broker","name":"Maqiatto Broker","broker":"maqiatto.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8624a7228b97d7d6","type":"ui_tab","name":"Tab #1","icon":"fa-home","disabled":false,"hidden":false},{"id":"160fb72f5571ebe3","type":"ui_tab","name":"Tab #2","icon":"fa-line-chart","disabled":false,"hidden":false},{"id":"8081c4b6d1d092c6","type":"ui_group","name":"Grupo #2","tab":"8624a7228b97d7d6","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b103cc6e0def9a26","type":"ui_group","name":"Grupo #3","tab":"160fb72f5571ebe3","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3978b7ee26c46bba","type":"mqtt in","z":"f397ce64f75f5629","name":"MQTT >> Sensor","topic":"lmtreser@gmail.com/sensor","qos":"2","datatype":"auto","broker":"fcb588b4d1585332","x":140,"y":40,"wires":[["f384f88e61173fa5","547e1bea604a5ed6","1df9a871540df13a"]]},{"id":"1ead503932a248b0","type":"file","z":"f397ce64f75f5629","name":"reg.csv","filename":"/home/lucas/Documentos/código/Nodos/reg.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"utf8","x":440,"y":140,"wires":[[]]},{"id":"d2d812956a067888","type":"debug","z":"f397ce64f75f5629","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":200,"wires":[]},{"id":"f384f88e61173fa5","type":"ui_gauge","z":"f397ce64f75f5629","name":"","group":"d5619656af46dda7","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"30","className":"","x":430,"y":40,"wires":[]},{"id":"547e1bea604a5ed6","type":"function","z":"f397ce64f75f5629","name":"","func":"// agregar un timestamp\n\nlet tiempo = new Date();\nlet fecha = tiempo.toLocaleDateString(); \nlet hora = tiempo.getHours() + \":\" + tiempo.getMinutes() + \":\" + tiempo.getSeconds();\nlet payload = msg.payload;\n \nmsg.payload = fecha + \" - \" + hora + \",\" + payload\n \nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":160,"wires":[["d2d812956a067888","1ead503932a248b0"]]},{"id":"c5e690714eb7d0d3","type":"ui_chart","z":"f397ce64f75f5629","name":"Linea","group":"b103cc6e0def9a26","order":1,"width":"0","height":"0","label":"Historial Temperatura","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":490,"y":480,"wires":[[]]},{"id":"1df9a871540df13a","type":"ui_text","z":"f397ce64f75f5629","group":"8081c4b6d1d092c6","order":1,"width":0,"height":0,"name":"","label":"Temperatura: ","format":"{{msg.payload}}°C","layout":"row-left","className":"","x":430,"y":80,"wires":[]},{"id":"002732ec48e8b3e3","type":"ui_button","z":"f397ce64f75f5629","name":"","group":"8081c4b6d1d092c6","order":3,"width":0,"height":0,"passthru":false,"label":"Test","tooltip":"Este botón prueba publicar en el broker","color":"#FFFFFF","bgcolor":"#000000","className":"","icon":"","payload":"","payloadType":"str","topic":"lmtreser@gmail.com/sensor","topicType":"str","x":110,"y":280,"wires":[["8aaca611426bae7c"]]},{"id":"9ad4f66f4dcfadb9","type":"mqtt out","z":"f397ce64f75f5629","name":"MQTT >> Broker","topic":"","qos":"0","retain":"false","broker":"fcb588b4d1585332","x":450,"y":280,"wires":[]},{"id":"8aaca611426bae7c","type":"function","z":"f397ce64f75f5629","name":"","func":"/* Genera un número aleatorio entre 0 y 40 */\n\nlet payload;\npayload = Math.round(Math.random() * (40 - 0) + 0);\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":340,"wires":[["9ad4f66f4dcfadb9","88aea27225832c40","1df7fad50d289bd9"]]},{"id":"88aea27225832c40","type":"ui_text","z":"f397ce64f75f5629","group":"8081c4b6d1d092c6","order":2,"width":0,"height":0,"name":"","label":"Botón:","format":"{{msg.payload}}","layout":"row-left","className":"","x":490,"y":340,"wires":[]},{"id":"1df7fad50d289bd9","type":"debug","z":"f397ce64f75f5629","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":400,"wires":[]},{"id":"83b318f92b177e79","type":"debug","z":"f397ce64f75f5629","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":560,"wires":[]},{"id":"a05a50559d68599d","type":"file in","z":"f397ce64f75f5629","name":"JSON File","filename":"/home/lucas/Documentos/código/Nodos/historico.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":150,"y":520,"wires":[["83b318f92b177e79","aba6fe73d6534e7b"]]},{"id":"aba6fe73d6534e7b","type":"json","z":"f397ce64f75f5629","name":"JSON Parser","property":"payload","action":"","pretty":false,"x":350,"y":480,"wires":[["c5e690714eb7d0d3"]]},{"id":"18b1a009b1655f07","type":"inject","z":"f397ce64f75f5629","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"Start","payloadType":"str","x":90,"y":440,"wires":[["a05a50559d68599d","e445a355.078288"]]},{"id":"e445a355.078288","type":"ui_template","z":"f397ce64f75f5629","group":"d5619656af46dda7","name":"","order":1,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"/Elarun.png\");\n        background-repeat: no-repeat;\n        background-size: auto;\n        background-position: bottom left;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":280,"y":420,"wires":[[]]}]