example-05/flows.json
[
    {
        "id": "e99b2d927df29a89",
        "type": "tab",
        "label": "Domotica",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "177e1e408c8b9574",
        "type": "debug",
        "z": "e99b2d927df29a89",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 400,
        "wires": []
    },
    {
        "id": "30cb94c1b944ec67",
        "type": "ui_text",
        "z": "e99b2d927df29a89",
        "group": "a2729b4b747fd0a8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Lights Living:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 450,
        "y": 80,
        "wires": []
    },
    {
        "id": "7c6210c8d2d8ddcd",
        "type": "ui_switch",
        "z": "e99b2d927df29a89",
        "name": "Lights Kitchen",
        "label": "Kitchen",
        "tooltip": "",
        "group": "30bd7d0129efbcfa",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "home/lights/kitchen",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "7ea92eb0b4258ad4",
                "f3a833db8001b620"
            ]
        ]
    },
    {
        "id": "322a6ecadb8fbfb7",
        "type": "ui_slider",
        "z": "e99b2d927df29a89",
        "name": "Lights Bedroom",
        "label": "Bedroom",
        "tooltip": "",
        "group": "30bd7d0129efbcfa",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "home/lights/bedroom",
        "topicType": "str",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "acb73166a918b83f",
                "f3a833db8001b620"
            ]
        ]
    },
    {
        "id": "3dd0acee2447a26e",
        "type": "ui_gauge",
        "z": "e99b2d927df29a89",
        "name": "",
        "group": "0ca29c4609da9410",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air Quality",
        "label": "ICA",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 480,
        "wires": []
    },
    {
        "id": "623db4b68b723ad9",
        "type": "mqtt in",
        "z": "e99b2d927df29a89",
        "name": "MQTT Sub",
        "topic": "home/alarm/message",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "eafd9e68a935d573",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 600,
        "wires": [
            [
                "67c84ff2bb04abe9"
            ]
        ]
    },
    {
        "id": "74e45890e888675f",
        "type": "mqtt out",
        "z": "e99b2d927df29a89",
        "name": "MQTT Pub",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "eafd9e68a935d573",
        "x": 690,
        "y": 340,
        "wires": []
    },
    {
        "id": "521cf4a0fcae8639",
        "type": "inject",
        "z": "e99b2d927df29a89",
        "name": "Random data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "home/sensors/air_quality",
        "payload": "true",
        "payloadType": "bool",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "9699ec4d7f626c45"
            ]
        ]
    },
    {
        "id": "42d83fa5b47cb15e",
        "type": "ui_switch",
        "z": "e99b2d927df29a89",
        "name": "Lights Living",
        "label": "Living",
        "tooltip": "",
        "group": "30bd7d0129efbcfa",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "home/lights/living",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "30cb94c1b944ec67",
                "f3a833db8001b620"
            ]
        ]
    },
    {
        "id": "a52e4776be2e14c4",
        "type": "link in",
        "z": "e99b2d927df29a89",
        "name": "link mqtt pub",
        "links": [
            "156216f9cdbbcad1",
            "f7d6989b85f05465",
            "a4cc6d7d265b4ca7",
            "f3a833db8001b620",
            "bfd0a93f13a498ad"
        ],
        "x": 585,
        "y": 340,
        "wires": [
            [
                "74e45890e888675f"
            ]
        ]
    },
    {
        "id": "258449eda7be094d",
        "type": "link in",
        "z": "e99b2d927df29a89",
        "name": "link debug",
        "links": [
            "156216f9cdbbcad1",
            "f7d6989b85f05465",
            "a4cc6d7d265b4ca7",
            "f3a833db8001b620",
            "bfd0a93f13a498ad"
        ],
        "x": 585,
        "y": 400,
        "wires": [
            [
                "177e1e408c8b9574"
            ]
        ]
    },
    {
        "id": "7ea92eb0b4258ad4",
        "type": "ui_text",
        "z": "e99b2d927df29a89",
        "group": "a2729b4b747fd0a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Lights Kitchen:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 440,
        "y": 120,
        "wires": []
    },
    {
        "id": "acb73166a918b83f",
        "type": "ui_text",
        "z": "e99b2d927df29a89",
        "group": "a2729b4b747fd0a8",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Lights Bedroom:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 440,
        "y": 160,
        "wires": []
    },
    {
        "id": "f3a833db8001b620",
        "type": "link out",
        "z": "e99b2d927df29a89",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "258449eda7be094d",
            "a52e4776be2e14c4"
        ],
        "x": 375,
        "y": 320,
        "wires": []
    },
    {
        "id": "9699ec4d7f626c45",
        "type": "function",
        "z": "e99b2d927df29a89",
        "name": "Air Quality Function",
        "func": "msg.payload = parseInt(Math.random() * 100);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 440,
        "wires": [
            [
                "bfd0a93f13a498ad",
                "3dd0acee2447a26e",
                "9d3ff7d30e9bf568"
            ]
        ]
    },
    {
        "id": "bfd0a93f13a498ad",
        "type": "link out",
        "z": "e99b2d927df29a89",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "258449eda7be094d",
            "a52e4776be2e14c4"
        ],
        "x": 375,
        "y": 440,
        "wires": []
    },
    {
        "id": "d4b26c585f88cecb",
        "type": "ui_switch",
        "z": "e99b2d927df29a89",
        "name": "Lights Garage",
        "label": "Garage",
        "tooltip": "",
        "group": "30bd7d0129efbcfa",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "home/lights/garage",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "8a2107947dc7c328",
                "f3a833db8001b620"
            ]
        ]
    },
    {
        "id": "245c922ec0c65b04",
        "type": "ui_switch",
        "z": "e99b2d927df29a89",
        "name": "Lights Bathroom",
        "label": "Bathroom",
        "tooltip": "",
        "group": "30bd7d0129efbcfa",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "home/lights/bathroom",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "5da6ea79d5b854aa",
                "f3a833db8001b620"
            ]
        ]
    },
    {
        "id": "e59369d00f13887b",
        "type": "ui_switch",
        "z": "e99b2d927df29a89",
        "name": "Lights Laundry",
        "label": "Laundry",
        "tooltip": "",
        "group": "30bd7d0129efbcfa",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "home/lights/laundry",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "09bce923cb58df6f",
                "f3a833db8001b620"
            ]
        ]
    },
    {
        "id": "8a2107947dc7c328",
        "type": "ui_text",
        "z": "e99b2d927df29a89",
        "group": "a2729b4b747fd0a8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Lights Garage:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 440,
        "y": 200,
        "wires": []
    },
    {
        "id": "5da6ea79d5b854aa",
        "type": "ui_text",
        "z": "e99b2d927df29a89",
        "group": "a2729b4b747fd0a8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Lights Bathroom:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 240,
        "wires": []
    },
    {
        "id": "09bce923cb58df6f",
        "type": "ui_text",
        "z": "e99b2d927df29a89",
        "group": "a2729b4b747fd0a8",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Lights Laundry:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 440,
        "y": 280,
        "wires": []
    },
    {
        "id": "9d3ff7d30e9bf568",
        "type": "ui_chart",
        "z": "e99b2d927df29a89",
        "name": "",
        "group": "0ca29c4609da9410",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Air Quality",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "500",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "67c84ff2bb04abe9",
        "type": "ui_text",
        "z": "e99b2d927df29a89",
        "group": "a2729b4b747fd0a8",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "MSG",
        "label": "Message:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 450,
        "y": 600,
        "wires": []
    },
    {
        "id": "a2729b4b747fd0a8",
        "type": "ui_group",
        "name": "Status",
        "tab": "1c8074f5c8d194ee",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "30bd7d0129efbcfa",
        "type": "ui_group",
        "name": "Lights",
        "tab": "1c8074f5c8d194ee",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0ca29c4609da9410",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "1c8074f5c8d194ee",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eafd9e68a935d573",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "afc126ffdad44d808610022263e59c0c.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "8cf408db7ce77743",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "home/alarm/message",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "System Init!",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1c8074f5c8d194ee",
        "type": "ui_tab",
        "name": "Control Panel",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8cf408db7ce77743",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    }
]